code/environments/production/modules/chocolatey/
code/environments/production/modules/powershell/
code/environments/production/modules/pwshlib/
code/environments/production/modules/registry/
code/environments/production/modules/ruby_task_helper/
code/environments/production/modules/stdlib/